<h2>Bloomberg Sports Administration</h2>

<div id="content">
  <div class="title">Challenges Administrator</div>
  <%= link_to 'Admin', admin_index_path, :class => 'tab' %>
  <%= link_to 'Teams', admin_teams_path, :class => 'tab' %>
  <%= link_to 'Games', admin_games_path, :class => 'tab' %>
  <%= link_to 'Players', admin_players_path, :class => 'tab' %>
  <%= link_to 'Sponsors', admin_sponsors_path, :class => 'tab' %>
  <%= link_to 'Challenges', admin_challenges_path, :class => 'tab active' %>
  <div class="box">
  
    <div class="challengeLinks">
      <%= link_to 'Custom Challenge', admin_challenges_path, :class => 'challengeLink active' %>
      <%= link_to 'Player Challenge', admin_playerChallenge_path, :class => 'challengeLink' %>
      <%= link_to 'Game Challenge', admin_gameChallenge_path, :class => 'challengeLink' %>
      <%= link_to 'Team Challenge', admin_teamChallenge_path, :class => 'challengeLink' %>
    </div>
    <div class="dotted_line"></div>
    
    <div class="title">Create a challenge</div>
      
    <div class="form_title">Challenge Question:</div>
    <div class="form_options">
      <textarea name="challenge_text" id="challenge_text" class="create" style="width: 400px; height: 25px;"></textarea>
    </div>
    <div class="clear"></div>
    <br>
    
    <form name="newChallenge" id="newChallenge">
    <div class="form_title">Possible Answers:</div>
    <div class="form_options">
      <input type="text" class="create answer" maxlength=100><br>
      <input type="text" class="create answer" maxlength=100><br>
      <input type="text" class="create answer" maxlength=100><br>
      <input type="text" class="create answer" maxlength=100><br>
      <input type="text" class="create answer" maxlength=100><br>
      <input type="text" class="create answer" maxlength=100>
    </div>
    <div class="clear"></div><br>
    
    <div class="form_title">Sponsor (Optional):</div>
    <div class="form_options">
      <select name="sponsor_id" id="sponsor_id">
        <option value="0">Please select a sponsor (optional).</option>
        <% @sponsors.each do |sponsor| %>
          <option value="<%=sponsor['id']%>"><%=sponsor['name']%></option>
        <% end %>
      </select>
      <br>
      <small>If provided, this challenge will be grouped with challenges from this sponsor.</small><br><br>
    </div>
    <div class="clear"></div>
    
    <div class="form_title">Related Game:</div>
    <div class="form_options">
      <select name="game_id" id="game_id">
        <% @games.each do |game| %>
          <option value="<%=game['game_id']%>"><%=game.away_team['name']%> @ <%=game.home_team['name']%></option>
        <% end %>
      </select>
      <br>
      <small>This is used to stop voting shortly before the game begins.</small><br><br>
    </div>
    <div class="clear"></div>
      
    
    
    <div class="form_title">&nbsp; </div>
    <div class="form_options">
      <div class="button" id="save_challenge">Save Challenge ></div>
    </div>
    <div class="clear"></div>
    <div class="dotted_line"></div>
  
    <div class="title">All Challenges</div>
		<%= link_to 'Update Scores', admin_update_scores_path, :class => 'button' %><br><br>
		
		<ul class="admin">
    <% 
      @challenges.each do |challenge| 
      picks = JSON.load(challenge.picks);
      if (challenge.sponsor == nil)
        sponsor = 'No Sponsor'
      else
        sponsor = challenge.sponsor['name']
      end
    %>
      <li id="item_<%=challenge.id%>">
        <small>Question sponsored by "<%=sponsor%>":</small>
        <h1 style="font-weight: normal; color: #000; background-color: transparent;">"<%=raw challenge.challenge_expression %>"</h1>
        <br>
        <select id="<%=challenge.id%>" style="width: 250px; margin-bottom: 7px;">
          <option value="0">Select the winning answer!</option>
          <% picks.each do |pick| %>
            <option><%=pick%></option>
          <% end %>
        </select> &nbsp; 
        <div class="button submit_answer" style="margin-bottom: 15px;" title="<%=challenge.id%>">Submit Answer ></div>
       
       <div class="clear"></div>
      </li>
    <% end %>   
    </ul>
    </form>
  </div>
</div>

<br>
<%= link_to 'Admin Home', admin_index_path %>

<script language="javascript">
  $(document).ready(function() { 
    fbConnect();
  });
  
  $('.submit_answer').mouseup(function() { 
    var challenge_id = $(this).attr('title');
    var pick_id = $('#'+challenge_id).val();
    if (pick_id == '0') {
      alert('Please select an answer');
      return;
    }
    var challenge = {
      result: pick_id,
      status: 'closed'
    }
    if (confirm('Set "'+pick_id+'" as the answer for this challenge?')) {
      var request = {
        call:'api/challenges/update/'+challenge_id,
        dataMethod:'POST',
        data:{ 
          challenge : challenge
        },
        response:function(resp,args) {
          if(!resp.success) {
            alert(resp.message);
            return;
          }
          $('li#item_'+challenge_id).fadeOut('slow');
        }
      }
      if (USER.id != '0')
        API(request);
      else {
        REQUESTS.push(request); // Store for after FB Activation
        initConnect();
      }
    }
  })

  $('#save_challenge').mousedown(function() { 
    var stakes = 'None';
    var game_id = $('#game_id').val();
    var ed = tinyMCE.get('challenge_text');
    var question = ed.getContent();
    var answers = [];
    $.each($('.answer'),function(i,answer) { 
      var text = $.trim($(answer).val());
      if (text != '')
        answers.push(text);
    });
    if (answers.length < 2) {
      alert('You must provide at least two answers for this challenge.');
      return;
    }
    if (game_id == 0) {
      alert('Please select a related game.');
      return;
    }
    var challenge = {
      template_id : 'custom_challenge',
      stakes : stakes,
      question : question,
      public: true,
      featured : true,
      game_id : game_id,
      picks: JSON.stringify(answers)
    }
    if ($('#sponsor_id').val() != 0)
      challenge.sponsor_id = $('#sponsor_id').val();
    var request = {
      call:'api/challenges/custom',
      dataMethod:'POST',
      data:{
        challenge:challenge
      },
      response:function(resp,args) {
        if(!resp.success) {
          alert(resp.message);
          return;
        }
        if (!confirm("Challenge created! Would you like to view the live challenge? (Cancel to return to administrator)")) {
          document.location.href = '/admin/challenges';
        }
        else {
          document.location.href = '/challenges/'+resp.data.challenge.id;
        }
      }
    }
    if (USER.id != '0')
      API(request);
    else {
      REQUESTS.push(request); // Store for after FB Activation
      initConnect();
    }
    
  })
</script>