<h2>Bloomberg Sports Administration</h1>

<div id="content">
  <div class="title">Games</div>
  <%= link_to 'Admin', admin_index_path, :class => 'tab' %>
  <%= link_to 'Teams', admin_teams_path, :class => 'tab' %>
  <%= link_to 'Games', admin_games_path, :class => 'tab active' %>
  <%= link_to 'Players', admin_players_path, :class => 'tab' %>
  <%= link_to 'Sponsors', admin_sponsors_path, :class => 'tab' %>
  <%= link_to 'Challenges', admin_challenges_path, :class => 'tab' %>
  <div class="box">
    <%= link_to 'Re-Import Game Schedule', admin_import_games_path, :class => 'challengeLink' %>
    <div class="clear: left;"></div>
    <br>
    <ul class="admin">
    <% @games.each do |game| %>
    <% t = game.starts_at.in_time_zone('America/New_York') %>
      <li>
       <%= t.strftime("%m/%d/%y") %> | 
       <%= game.away_team.name %> @ 
       <%= game.home_team.name %> | 
       <%= t.strftime("%I:%M%p") %> |
       Game ID #<%= game.game_id %>
      </li>
    <% end %>   
    </ul>
  </div>
  
</div>

<br>
<%= link_to 'Admin Home', admin_index_path %>