<h2>Bloomberg Sports Administration</h1>

<div id="content">
  <div class="title">Admin</div>
  <%= link_to 'Admin', admin_index_path, :class => 'tab active' %>
  <%= link_to 'Teams', admin_teams_path, :class => 'tab' %>
  <%= link_to 'Games', admin_games_path, :class => 'tab' %>
  <%= link_to 'Players', admin_players_path, :class => 'tab' %>
  <%= link_to 'Sponsors', admin_sponsors_path, :class => 'tab' %>
  <%= link_to 'Challenges', admin_challenges_path, :class => 'tab' %>
  <div class="box">
    <ul class="admin">
    <% @users.each do |user| 
        
    %>
      <li style="padding: 8px 12px;" id="user_<%=user['id']%>">
        <pre><%= user['nickname'] %>  (<%= user['email'] %>)  FB_ID: <%= user['fb_number'] %>  <select id="<%=user['id']%>" 
            style="margin-top: -2px" class="role_changer">
            <option value="user" <% if (user['role'] == 'user') %>selected<%end%>>Regular User</option>
            <option value="admin"  <% if (user['role'] == 'admin') %>selected<%end%>>Administrator</option>
          </select></pre>
      </li>
    <% end %>   
    </ul>
  </div>
</div>

<br>
<%= link_to 'Admin Home', admin_index_path %>

<script>
$(document).ready(function() { 
  fbConnect();
});

$('.role_changer').change(function() { 
  var id = $(this).attr('id');
  var role = $(this).val();
  if (confirm('Set this person to the "'+role+'" role?')) {
    $(this).attr('disabled',true);
    var request = {
      call:'api/users/update/'+id,
      dataMethod:'POST',
      data:{ 
        user : {
          role : role
        }
      },
      response:function(resp,args) {
        $('#'+id).attr('disabled',false);
        if(!resp.success)
          alert(resp.message);
        else {
          $('#user_'+id).hide().fadeIn('slow');
        }
      }
    }
    if (USER.id != '0')
      API(request);
    else {
      REQUESTS.push(request); // Store for after FB Activation
      initConnect();
    }
  }  
})
</script>