<h2>Bloomberg Sports Administration</h1>

<div id="content">
  <div class="title">Players</div>
  <%= link_to 'Admin', admin_index_path, :class => 'tab' %>
  <%= link_to 'Teams', admin_teams_path, :class => 'tab' %>
  <%= link_to 'Games', admin_games_path, :class => 'tab' %>
  <%= link_to 'Players', admin_players_path, :class => 'tab active' %>
  <%= link_to 'Sponsors', admin_sponsors_path, :class => 'tab' %>
  <%= link_to 'Challenges', admin_challenges_path, :class => 'tab' %>
  <div class="box">
    <%= link_to 'Re-Import Players Roster', admin_import_players_path, :class => 'challengeLink' %>
    <div class="clear: left;"></div>
    <br>
    <ul class="admin">
    <% @players.each do |player| %>
      <li>
       <%= player['player_id'] %> :  
       #<%= player['number'] %> 
       <%= player['first'] %> 
       <%= player['last'] %> 
       (<%= player['team_name'] %>) |  
       <%= player['position'] %> | 
       <% if (player['status'] == true) %>
       Active
       <% else %>
       Inactive
       <% end %>
      </li>
    <% end %>   
    </ul>
  </div>
  
</div>

<br>
<%= link_to 'Admin Home', admin_index_path %>