<div class='tabs'>
  <ul class='tablist'>
    <li class='active' id='view_comments'>
      <a>
        <span class='icon megaphone'></span>
        <h1>Trash Talk</h1>
      </a>
    </li>
    <li id='view_challengers'>
      <a>
        <span class='icon challengers'></span>
        <h1>The Challengers</h1>
      </a>
    </li>
  </ul>
  <div class='content'>
    <% if (@allowed) %>
      <div id="fb_comments">
        <fb:comments
          href="http://bloombergsportsfacebook.com:3000/challenges/<%=@challenge['id']%>"
          num_posts="2"
          width="662">
        </fb:comments>
        <div class="clearfix"></div>
      </div>
      <div id="fb_challengers">
        <p class='challenged'>
          <% if (@challenge['public']) %>
            <a class='btn-yellow' href='#' id='invite'>
              <span class='icon'>
                Invite friends
              </span>
            </a>
          <% end %>
          <strong>20</strong> people have been challenged
        </p>
        <% @challenge.challenge_responses.each do |response| %>
          <%
          if (response['user_id'] != nil)
            case response['status']
            when 'pending'
              status_text = 'Invitation Pending'
            else
              if (@challenge['challenge_type'] == 'player')
                status_text = response.player['first']+' '+response.player['last']
              else
                status_text = response['response'];
              end
            end
          %>
          <div class='friend-box pending'>
            <div class='top'>
              <img alt="Fb-placeholder" src="http://graph.facebook.com/<%=response.user['fb_number']%>/picture" />
              <p class='first'><%=response.user['nickname']%></p>
              <p class='view-history'><a href='/welcome/history/<%=response.user['fb_number']%>'>View Throwdowns</a></p>
            </div>
            <div class='vote'>
              <p class='name'><%=status_text%></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to welcome_playerChallenge_path, :class => 'btn-red' do %>
    Start a new challenge &nbsp; <span>&#9654;</span>
	<% end %>
</div>