<div class='game-challenge'>
<div class='corners'>
  <div class='hilight-box'>
    <h1><%=@challenge.challenge_expression.html_safe %></h1>
    <div class='content'>
      <% if (@challenge.featured == true) %>
        <div class='center'>
          <% if (@mypick['status'] == 'pending') %>
            <select id="my_pick" name="my_pick">
            </select>
          <% end %>
        </div>
      <% elsif @challenge['template_id'] == 'game_winner' || @challenge['template_id'] == 'game_yards' %>
				<div class='left'>
	          <img alt="Player-placeholder" class="player-photo tc1" src="http://static.nfl.com/static/site/img/logos/65x90/<%=@game.home_team['abbr']%>.png" />
	          <img alt="Player-placeholder" class="player-photo tc1" src="http://static.nfl.com/static/site/img/logos/65x90/<%=@game.away_team['abbr']%>.png" />
					</div>
	        <div class='right tc2'>
	          <% if (@mypick['status'] == 'pending') %>
	            <select id="my_pick" name="my_pick">
	            </select>
	          <% end %>
	        </div>
      <% else %>
				<div class='center'>
          <% if (@mypick['status'] == 'pending') %>
            <select id="my_pick" name="my_pick">
            </select>
          <% end %>
        </div>
			<% end %>
      
      <% if (@mypick['status'] == 'pending') %>
        <a href="#" class="btn-red pick-player" id="submit_response">Submit</a>
      <% end %>
      <!-- <div class='status private'>
              <strong>Private</strong>
              (Only invited users can participate)
            </div>
            <div class="open-till">Open until <strong><span class="time">8:00pm</span> on <span class="date">Monday October 12</span></strong> -->
    </div>
  </div>
</div>

<!-- Create variables to indicate what the actual challenge type is. This should and will be in the back end in the future -->
<% @type = [:game_winner, :game_yards].include?(@challenge.template_id)  ? :game_tvt : :game_stat %>
<!-- Just one wonderful all-purpose response box! -->
<%= render 'your_pick', :type => @type, :pick => @mypick, :challenge => @mypick  %>

  <div class='sub-box the-stakes'>
    <h1>The Stakes:</h1>
    <div class='left'>
      <img alt="Trophy" class="trophy" src="/images/trophy.png" />
      <h3>
        <% if (@challenge.featured == true) %>
           Featured Challenge
        <% else %>
          <%=@challenge['stakes']%>
        <% end %>  
      </h3>
    </div>
  </div>

<script language="javascript">

  $('#submit_response').mousedown(function() { 

    var my_pick = $('#my_pick').val();
    if (my_pick == '0') {
      alert('Please make your selection.');
      return;
    }
    var request = {
      call:'api/challenges/respond',
      dataMethod:'POST',
      data:{
        data:{
          challenge_id : <%=@challenge['id']%>,
          response: my_pick,
          status: 'responded'
        }
      },
      response:function(resp,args) {
        if(!resp.success) {
          alert(resp.message);
          return;
        }
        document.location.href = '/challenges/<%=@challenge['id']%>';
      }
    }
    if (USER.id != '0')
      API(request);
    else {
      REQUESTS.push(request); // Store for after FB Activation
      initConnect();
    }
  })
  
  $('.invite_friends').mousedown(function() { 
    inviteFriends();
  })
  
  /* Dump in picks */
  var PICKS = <%=@challenge['picks']%>;
  <%
  case @challenge['template_id']
  when ('game_winner' || 'game_yards')
  %>
    $('select#my_pick').append('<option value="<%=@game.home_team_id%>">The <%=@game.home_team['name']%></option>');
    $('select#my_pick').append('<option value="<%=@game.away_team_id%>">The <%=@game.away_team['name']%></option>');
  <% else %>
    $.each(PICKS,function(i,pick){ 
      $('#my_pick').append('<option value="'+pick+'">'+pick+'</option>');
    })
  <% end %>
  $('#my_pick').sweetSelect("Please make your selection");
</script>