<h2>Bloomberg Sports Administration</h1>

<div id="content">
  <div class="title">Admin</div>
  <%= link_to 'Admin', admin_index_path, :class => 'tab' %>
  <%= link_to 'Teams', admin_teams_path, :class => 'tab' %>
  <%= link_to 'Games', admin_games_path, :class => 'tab' %>
  <%= link_to 'Players', admin_players_path, :class => 'tab' %>
  <%= link_to 'Sponsors', admin_sponsors_path, :class => 'tab' %>
  <%= link_to 'Challenges', admin_challenges_path, :class => 'tab' %>
  <div class="box">
    <h3>Sorry, you must be an administrator to access this area.</h3>
  </div>
</div>

<br>
<%= link_to 'Admin Home', admin_index_path %>

<script>
$(document).ready(function() { 
  fbConnect();
});
</script>