<h2>Bloomberg Sports Administration</h1>

<div id="content">
  <div class="title">Sponsors</div>
  <%= link_to 'Admin', admin_index_path, :class => 'tab' %>
  <%= link_to 'Teams', admin_teams_path, :class => 'tab' %>
  <%= link_to 'Games', admin_games_path, :class => 'tab' %>
  <%= link_to 'Players', admin_players_path, :class => 'tab' %>
  <%= link_to 'Sponsors', admin_sponsors_path, :class => 'tab active' %>
  <%= link_to 'Challenges', admin_challenges_path, :class => 'tab' %>
  <div class="box">
    
    <div class="title">Create New Sponsor</div>
    
    <form name="newChallenge" id="newChallenge">
    <div class="form_title">Sponsor Name:</div>
    <div class="form_options">
      <input type="text" name="name" id="name" class="create" maxlength=80>
    </div>
    <div class="clear"></div><br>
    
    <div class="form_title">Intro Text:</div>
    <div class="form_options">
      <input type="text" name="intro" id="intro" class="create" maxlength=250>
    </div>
    <div class="clear"></div><br>
    
    <div class="form_title">Sponsor URL:</div>
    <div class="form_options">
      <input class="create" type="text" id="url" name="url" maxlength=250>
    </div>
    <div class="clear"></div><br>
    
    <div class="form_title">Logo URL:</div>
    <div class="form_options">
      <input class="create" type="text" id="logo_url" name="logo_url" maxlength=250>
    </div>
    <div class="clear"></div><br>
    
    <div class="form_title"> &nbsp; </div>
    <div class="form_options">
      <div class="button" id="submit_sponsor">Create ></div>
    </div>
    <div class="clear"></div><br>
    
    <div class="dotted_line"></div>
    
    <div class="title">Manage Sponsors</div>
    <ul class="admin">
    <% @sponsors.each do |sponsor| %>
      <li id="sponsor_<%=sponsor['id']%>">
        <div style="float: left; width: 105px;">
          <div class="thumb" style="background-image: url(<%=sponsor['logo']%>)"></div>
        </div>
        
        <div style="float: left; width: 500px;">
          <div class="form_title">Name:</div>
          <div class="form_options">
            <input type="text" class="create name" value="<%=sponsor['name']%>" maxlength=80>
          </div>
          <div class="clear"></div><br>
          
          <div class="form_title">Intro:</div>
          <div class="form_options">
            <input type="text" class="create intro" value="<%=sponsor['intro']%>" maxlength=80>
          </div>
          <div class="clear"></div><br>
          
          <div class="form_title">URL:</div>
          <div class="form_options">
            <input class="create url" type="text" value="<%=sponsor['url']%>" maxlength=250>
          </div>
          <div class="clear"></div><br>
          
          <div class="form_title">Logo:</div>
          <div class="form_options">
            <input class="create logo" type="text" value="<%=sponsor['logo']%>" maxlength=250>
          </div>
          <div class="clear"></div><br>
          
          <div class="form_title"> &nbsp; </div>
          <div class="form_options">
            <div class="button update_sponsor" title="<%=sponsor['id']%>">Update ></div>
          </div>
          <div class="clear"></div><br>
        </div>
        
        <div class="clear"></div>        

      </li>
    <% end %>   
    </ul>
  </div>
</div>

<br>
<%= link_to 'Admin Home', admin_index_path %>

<script language="javascript">
$(document).ready(function() { 
  fbConnect();
});

$('.update_sponsor').mouseup(function() {
  var sponsor_id = $(this).attr('title');  
  var name = $.trim($('li#sponsor_'+sponsor_id+' .name').val());
  var url = $.trim($('li#sponsor_'+sponsor_id+' .url').val());
  var logo = $.trim($('li#sponsor_'+sponsor_id+' .logo').val());
  var intro = $.trim($('li#sponsor_'+sponsor_id+' .intro').val());
  if (!name.length) {
    alert('Please enter a name for your sponsor.');
    return;
  }
  if (!intro.length) {
    alert('Please enter an intro paragraph for your sponsor.');
    return;
  }
  if (!url.length) {
    alert('Please enter a url for your sponsor.');
    return;
  }
  if (!logo.length) {
    alert('Please enter a logo URL for your sponsor.');
    return;
  }
  var request = {
    call:'api/sponsors/update/'+sponsor_id,
    dataMethod:'POST',
    data:{
      sponsor:{
        name: name,
        url: url,
        logo: logo,
        intro: intro
      }
    },
    response:function(resp,args) {
      if(!resp.success) {
        alert(resp.message);
        return;
      }
      alert('Updated!');
      document.location.reload();
    }
  }
  if (USER.id != '0')
    API(request);
  else {
    REQUESTS.push(request); // Store for after FB Activation
    initConnect();
  }
})
  
$('#submit_sponsor').mouseup(function() { 
  var name = $.trim($('#name').val());
  var url = $.trim($('#url').val());
  var intro = $.trim($('#intro').val());
  var logo = $.trim($('#logo_url').val());
  if (!name.length) {
    alert('Please enter a name for your sponsor.');
    return;
  }
  if (!intro.length) {
    alert('Please enter an intro paragraph for your sponsor.');
    return;
  }
  if (!url.length) {
    alert('Please enter a url for your sponsor.');
    return;
  }
  if (!logo.length) {
    alert('Please enter a logo URL for your sponsor.');
    return;
  }
  var request = {
    call:'api/sponsors/create',
    dataMethod:'POST',
    data:{
      sponsor:{
        name: name,
        url: url,
        logo: logo,
        intro: intro
      }
    },
    response:function(resp,args) {
      if(!resp.success) {
        alert(resp.message);
        return;
      }
      document.location.reload();
    }
  }
  if (USER.id != '0')
    API(request);
  else {
    REQUESTS.push(request); // Store for after FB Activation
    initConnect();
  }
})

</script>