<h2>Bloomberg Sports Administration</h1>

<div id="content">
  <div class="title">Statistics</div>
  <%= link_to 'Admin', admin_index_path, :class => 'tab' %>
  <%= link_to 'Teams', admin_teams_path, :class => 'tab' %>
  <%= link_to 'Games', admin_games_path, :class => 'tab' %>
  <%= link_to 'Players', admin_players_path, :class => 'tab' %>
  <%= link_to 'Sponsors', admin_sponsors_path, :class => 'tab' %>
  <%= link_to 'Stats', admin_stats_path, :class => 'tab active' %>
  <%= link_to 'Challenges', admin_challenges_path, :class => 'tab' %>
  <div class="box">
    <%= link_to 'Re-Import Game Stats', admin_import_stats_path, :class => 'challengeLink' %>
    <div class="clear: left;"></div>
    <br>
    <ul class="admin">
    <% counter = 0; @game_stats.each do |team_stat| %>
      <li>
       <b><%= team_stat.team['abbr'] %> :</b>  
       <% counter += 1; team_stat.attributes.each do |stat_name, stat_value| %>
					<%= ' ' + stat_name + '=' + stat_value.to_s %>
	   		<% end %>
      </li>
		<% if (counter % 2 == 0) %>
			<li>--------</li>
		<% end %>

    <% end %>   
    </ul>
    <ul class="admin">
    <% @player_stats.each do |player_stat| %>
      <li>
       <b><%= player_stat.player['first'] + ' ' + player_stat.player['last'] %> :</b>  
       <% player_stat.attributes.each do |stat_name, stat_value| %>
			<%= ' ' + stat_name + '=' + stat_value.to_s %>
	   <% end %>
      </li>
    <% end %>   
    </ul>

  </div>
</div>

<br>
<%= link_to 'Admin Home', admin_index_path %>