<!-- This partial gets passed: type, pick, challenge -->

<div id='main' class="challenge_<%= challenge.status %> pick_<%= challenge.status %>">
	<div class='sub-box your-pick'>
	  <h1>Your Pick:</h1>
	  <div class='left'>
			<!-- If a pick hasn't been made, show the pending text -->
			<% if pick.status == :pending %> 
				<div class='<%= pick.status %>'>
		      <h2>Pending</h2>
		      <h3>Please choose above</h3>
		    </div>
			<!-- If a team was picked, show it -->
			<% elsif type == :team || type == :game_tvt %>
				<div class="col"><%= get_team_photo(pick.team.abbr) %></div>
				<div class="col">
		      <h2><%= pick.team.name %></h2>
		      <p><%= pick.team.city %></p>
					<% if challenge.status == :success %>
						<p><a href="#" class="btn-yellow">Post to my wall</a></p>
					<% end %>
				</div>
			<!-- If there is custom text or a number, display that -->
			<% elsif type == :custom || type == :game_stat %>
	      <p class='num'><%= pick.response %></p>
				<% if challenge.status == :success %>
					<p><a href="#" class="btn-yellow">Post to my wall</a></p>
				<% end %>
			<!-- If the pick was a player, show the player -->
			<% elsif type == :player || type == :pvp %>
				<div class="col"><%= get_photo(pick.player.id) %></div>
	      <div class="col">
					<h2><%= pick.player['first'] + ' ' + pick.player['last'] + ', ' + pick.player['position'] %> </h2>
		      <p><%= pick.team_info.city + ' ' + pick.team_info.name %></p>
					<% if challenge.status == :success %>
						<p><a href="#" class="btn-yellow">Post to my wall</a></p>
					<% end %>
				</div>
				<!-- If all else fails... -->
			<% else %>
				<p>An error has occurred</p>
			<% end %>
	  </div>
	</div>