<h2 id="header"></h2>
<div id="content">
  <div class="title">Bloomberg Sports</div>
  <div class="box">
    <div class="mypickpreview"><%=@challenge['challenge_expression']%></div>
    <div class="responseBox">
      <div class="third">
        <strong>Your Pick:</strong><br>
        Need help with your decision?<br>
        Use Decision Maker!
      </div>
      
      <div class="third">
        <div class="thumb" style="background-image: url(http://static.nfl.com/static/content/public/image/getty/headshot/<%=@p1_thumb%>)"></div>
        <input type="radio" name="pick" id="pick" value="<%=@challenge.player1['player_id']%>"> 
        <span id="player1"><%=@challenge.player1['first']+' '+@challenge.player1['last']%></span><br>
        <span id="position1"><%=@challenge.player1['position']%></span><br>
        <span id="team1"><%=@team1['name']%></span>
      </div>
      
      <div class="third">
        <div class="thumb" style="background-image: url(http://static.nfl.com/static/content/public/image/getty/headshot/<%=@p2_thumb%>)"></div>
        <input type="radio" name="pick" id="pick" value="<%=@challenge.player2['player_id']%>"> 
        <span id="player2"><%=@challenge.player2['first']+' '+@challenge.player2['last']%></span><br>
        <span id="position2"><%=@challenge.player2['position']%></span><br>
        <span id="team2"><%=@team2['name']%></span>
      </div>
      
      <div class="clear"></div>
      <div class="dotted_line"></div>
      
      <div class="third">
        <strong>Friends:</strong>
      </div>
      
      <div class="third">
        <div class="button" id="invite_facebook">Invite friends ></div>
      </div>
      
      <div class="third">
        <div class="button" id="complete_challenge">Submit your pick ></div>
      </div>
      
      <div class="clear"></div>
      
    </div>
  </div>
</div>

<br>
<%= link_to 'Home', welcome_index_path %>

<script>
$(document).ready(function() { 
  $('h2#header').empty().append('Loading User...');
  fbConnect();
  
  $('#invite_facebook').mousedown(function() { 
    inviteFriends();
  })
  
  $('#complete_challenge').mousedown(function() { 
    var pick = $('#pick:checked').val();
    if (pick == undefined) {
      alert('Please select a player!');
      return;
    }
    API({
      call:'api/challenges/respond',
      dataMethod:'POST',
      data:{
        data:{
          challenge_id : <%=@challenge['id']%>,
          response: pick,
          status: 'responded'
        }
      },
      response:function(resp,args) {
        if(!resp.success) {
          alert(resp.message);
          return;
        }
        document.location.href = '/challenges/<%=@challenge['id']%>';
      }
    })
  })
});
var CHALLENGE = <%=raw @challenge.to_json%>;
</script>