<!DOCTYPE html>
<html>
<head>
  <title>Www</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery-ui-1.8.1.custom.min" %>
  <%= javascript_include_tag "sweetSelect" %>
  <%= javascript_include_tag "custom" %>
  <%= javascript_include_tag "vendor/customInput.jquery" %>
  <%= javascript_include_tag "vendor/jquery.jscrollpane.min" %>
  <%= javascript_include_tag "vendor/jquery.mousewheel" %>
  <%= javascript_include_tag "vendor/modernizr-2.0.6.min" %>
  <%= javascript_include_tag "vendor/mwheelIntent" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
