<!DOCTYPE html>
<html lang="en" xml:lang='en' xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>Bloomberg Sports > Fan Libs</title>
  <meta http-equiv="P3P" content='CP="CAO PSA OUR"'>
  <%= stylesheet_link_tag "base" %>
  <%= stylesheet_link_tag "master" %>
  <%= stylesheet_link_tag "overlay" %>
	<%= stylesheet_link_tag "jquery.jscrollpane.css" %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery-ui-1.8.1.custom.min" %>
  <%= javascript_include_tag "init" %>
  <%= javascript_include_tag "sweetSelect" %>
  <%= javascript_include_tag "custom" %>
  <%= javascript_include_tag "vendor/customInput.jquery" %>
  <%= javascript_include_tag "vendor/jquery.jscrollpane.min" %>
  <%= javascript_include_tag "vendor/jquery.mousewheel" %>
  <%= javascript_include_tag "vendor/modernizr-2.0.6.min" %>
  <%= javascript_include_tag "vendor/mwheelIntent" %>
  <script src="http://use.typekit.com/ugz3tbf.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script language="javascript">
    // var USER = {
    //       id: '<%=h @current_user.fb_number%>',
    //       token: '<%=h @current_user.fb_token%>',
    //       nickname: '<%=h @current_user.nickname%>',
    //       role: '<%=h @current_user.role%>'
    //     }
		    var USER = {
		      id: '100000214085631',
		      token: 'token2',
		      nickname: 'Johnny Fifthman',
		      role: 'user'
		    }
		
  </script>
</head>
<body>

  <nav id="top-bar">
    <a href="<%= welcome_playerChallenge_path %>" class="new-challenge">Create a new challenge</a>
    <div class="right">
      <%= link_to 'Your Throwdowns', welcome_history_path(@user), :class => 'history' %> &nbsp; <!-- | &nbsp; <%= link_to 'Getting Started', '#', :class => "gs" %> -->
    </div>
  </nav>

  <a href="<%= welcome_challengeCurated_path %>" id="logo"></a>
  <div id='wrapper'>
    <%= yield %>
  </div>
  <div id="fb-root"></div>
</body>
</html>
