<div class='corners'>
  <div class='hilight-box'>
    <h1><%=@challenge.challenge_expression.html_safe %></h1>
    <div class='content'>
      <% if (@challenge.featured == true) %>
        <div class='center'>
         <!-- No more picks --> 
        </div>
      <% elsif @challenge['template_id'] == 'game_winner' || @challenge['template_id'] == 'game_yards' %>
      
         <!-- Hilight Winner -->
				<div class='left'>
	          <img alt="Player-placeholder" class="player-photo tc1" src="http://static.nfl.com/static/site/img/logos/65x90/<%=@game.home_team['abbr']%>.png" />
	          <img alt="Player-placeholder" class="player-photo tc1" src="http://static.nfl.com/static/site/img/logos/65x90/<%=@game.away_team['abbr']%>.png" />
					</div>
	        <div class='right tc2'>
	          <!-- Kill empty right space? -->
	        </div>
      <% else %>
				<div class='center'>
          <!-- This is empty space now -->
        </div>
			<% end %>
    </div>
  </div>
</div>

<% if (@mypick['status'] == 'pending') %>
  <div id='main' class='pending'>
    <div class='sub-box your-pick'>
      <!-- User was invited, did not pick -->
    </div>
<% else %>
<div id='main'>
  <div class='sub-box your-pick'>
    <h1>Your Pick:</h1>
    <div class='left'>
      <% if @challenge['template_id'] == 'game_winner' || @challenge['template_id'] == 'game_yards' %>
        <img alt="Player-placeholder" class="player-photo" src="http://static.nfl.com/static/site/img/logos/65x90/<%=@mypick.team['abbr'] %>.png" />
        <h2><%=@mypick.team.name%></h2>
        <p><%=@mypick.team.city %></p>
      <% else %>
        <p class='num'><%= @mypick.response %></p>
      <% end %>
    </div>
  </div>
<% end %>
  <div class='sub-box the-stakes'>
    <h1>The Stakes:</h1>
    <div class='left'>
      <img alt="Trophy" class="trophy" src="/images/trophy.png" />
      <h3>
        <% if (@challenge.featured == true) %>
           Featured Challenge
        <% else %>
          <%=@challenge['stakes']%>
        <% end %>  
      </h3>
    </div>
  </div>

<script language="javascript">  
  $('.invite_friends').mousedown(function() { 
    inviteFriends();
  })
</script>