<div class='corners'>
  <div class='hilight-box'>
    <h1><%=@challenge.challenge_expression.html_safe %></h1>
    <div class='content'>
    
      <!-- Show Winner using @challenge.winner -->
    
      <div class='left'>
        <%= image_tag "http://static.nfl.com/static/content/public/image/getty/headshot/#{@p1_thumb}", :alt => 'Player-placeholder', :class => 'player-photo' %>

        <h2><%= @challenge.player1.first %> <%= @challenge.player1.last %></h2>
        <strong><%= @challenge.player1.position %></strong>
        <p><%= @team1.name %></p>
      </div>
      <div class='or'>Or</div>
      <div class='right'>
        <%= image_tag "http://static.nfl.com/static/content/public/image/getty/headshot/#{@p2_thumb}", :alt => 'Player-placeholder', :class => 'player-photo' %>

        <h2><%= @challenge.player2.first %> <%= @challenge.player2.last %></h2>
        <strong><%= @challenge.player2.position %></strong>
        <p><%= @team2.name %></p>
      </div>

    </div>
  </div>
</div>

<% if (@mypick['status'] == 'pending') %>
  <div id='main' class='pending'>
    <div class='sub-box your-pick'>
      <!-- User did not make a selection. -->
    </div>
<% else %>
  <div id='main'>
    <div class='sub-box your-pick'>
      <h1>Your Pick:</h1>
      <div class='left'>
        <img alt="Player-placeholder" class="player-photo" src="http://static.nfl.com/static/content/public/image/getty/headshot/<%=@mypick['thumb']%>" />
        <h2><%=@mypick.player['first']+' '+@mypick.player['last']%></h2>
        <p><%=@mypick.player['position']%></p>
        <p><%=@mypick['team_info']['city']+' '+@mypick['team_info']['name']%></p>
      </div>
    </div>
<% end %>

  <div class='sub-box the-stakes'>
    <h1>The Stakes:</h1>
    <div class='left'>
      <img alt="Trophy" class="trophy" src="/images/trophy.png" />
      <h3><%= @challenge.stakes %></h3>
    </div>
  </div>

<script language="javascript">
  $('.invite_friends').mousedown(function() {
    inviteFriends();
  })
</script>