<div class='corners'>
  <div class='hilight-box'>
    <h1><%= @challenge.challenge_expression.html_safe %></h1>
    <div class='content'>

     <!-- Use @challenge.winner to show the winning team -->
     
    </div>
  </div>
</div>

<% if (@mypick['status'] == 'pending') %>
  <div id='main' class='pending'>
    <div class='sub-box your-pick'>
      <!-- User did not make a selection. -->
    </div>
<% else %>
  <div id='main'>
    <div class='sub-box your-pick'>
      <h1>Your Pick:</h1>
      <div class='left'>
        <%= image_tag "http://static.nfl.com/static/site/img/logos/65x90/#{@mypick.team.abbr}.png", :class => 'player-photo', :alt => 'Player-placeholder' %>
        <h2><%= @mypick.team.city %> <%= @mypick.team.name %></h2>
        <p><%= @mypick.team.city %> <%= @mypick.team.name %></p>
      </div>
    </div>
<% end %>
  <div class='sub-box the-stakes'>
    <h1>The Stakes:</h1>
    <div class='left'>
      <img alt="Trophy" class="trophy" src="/images/trophy.png" />
      <h3>
        <% if (@challenge.featured == true) %>
           Featured Challenge
        <% else %>
          <%=@challenge['stakes']%>
        <% end %>
      </h3>
    </div>
  </div>


<script language="javascript">  
  $('.invite_friends').mousedown(function() { 
    inviteFriends();
  })  
</script>