<script>POSITIONS['<%=challenge.id%>'] = <%=raw challenge.player_filter%></script>
<ol class='player-select '>
  <li>
    <input class='autocomplete-field'>
    <!-- <span>or</span> -->
    <div class='custom-select double3 sp_smaller' id="featured_spselect_<%= challenge.id %>">
      <div class='trigger'></div>
      <div class='box'>
        <p>Browse players</p>
        <div class='extra-boxes'>
          <select class='lighter' name="team1" id="team1">
            <% @teams.each do |team| %>
							<option value="<%= team.team_id %>"><%= team.city + " " + team.name %></option>
						<% end %>
          </select>
          <select class='lighter2' id='player1' name='player1'>
            <option value='0'>Loading...</option>
          </select>
        </div>
      </div>
      <span class='divider'></span>
      <span class='arrow first'></span>
    </div>
  </li>

  <div class='player-preview'></div>

</ol>

<a href="#" class="btn-red ct_<%= challenge.challenge_type %>" id="<%=challenge.id%>">Continue</a>

<script>

	// here comes the good stuff
	
	function get_players(team_id, challenge_type) {
		API({
      call:'api/players/search',
      dataMethod:'POST',
      data:{
        post:{
          team_id:team_id,
          position: <%= challenge.player_filter%>
        }
      },
      response:function(resp,args) {
        $('.test').empty().append('<option value="0">Select Player</option>');
        $.each(resp.data,function(i,result){
          var player = result.player;
          var exists = findPlayer(player.player_id);
          if (exists.player_id == undefined)
            PLAYERS.push(player);
          $('select#'+target).append('<option value="'+player.player_id+'">'+player.first+' '+player.last+': '+player.position+'</option>');
        });
      }
    })
	}
	
	get_players(1,2);

</script>