<%= render :partial => 'intro' %>

<div id='main-2'>
  <div class='tabs'>
    <ul class='tablist'>
      <li>
        <a href='<%= welcome_challengeCurated_path %>'>
          <span class='icon ribbon'></span>
          <h1>Featured Challenges</h1>
        </a>
      </li>
      <li class='active'>
        <a href='<%= welcome_playerChallenge_path %>'>
          <span class='icon build'></span>
          <h1>Build Your Challenge</h1>
        </a>
      </li>
    </ul>

    <div class='categories'>
      <%= link_to 'Player Challenge', welcome_playerChallenge_path %>
      <%= link_to 'Game Challenge', welcome_gameChallenge_path, :class => 'active' %>
      <%= link_to 'Team Challenge', welcome_teamChallenge_path %>
    </div>

    <div class='explanation'>

      <p>Game challenges are created around a single football game between two teams. Rather than creating challenges around specific players or teams, your challenges will revolve around a specific measurable aspect of the game (such as fumbles or completed passes).</p>
      <p><strong class='italic'>Example:</strong> &ldquo;In the <strong class='yellow'>Eagles vs. Jets</strong> game, <strong class='yellow'>56 passes will be completed</strong>.&rdquo;</p>
    </div>

     <ul class='actions'>
    <form name="gameChallenge" id="gameChallenge" onSubmit="return false;">
       <li class='row'>
         <div class='name'>
           <h3>Select game:</h3>
           <small>Only you will select this</small>
         </div>
        <select name="game_id" class='game-select' id="game_id" onchange="permitSelections(this.value);">
          <% @games.each do |game| %>
            <option value="<%=game['game_id']%>"><%=game.away_team['name']%> @ <%=game.home_team['name']%></option>
          <% end %>
        </select>
       </li>
      <li class='row'>
         <div class='name'>
           <h3>Select challenge:</h3>
           <small>Only you will select this</small>
         </div>
         <select name="challenge" class='game-challenge' id="challenge" onchange="setChallenge(this.value)">
          <option value="0">Select your challenge.</option>
          <% @challenges.each do |challenge| %>
            <option value="<%=challenge['template_id']%>"><%=challenge['display_text']%></option>
          <% end %>
        </select>
       </li>
       <li class='row'>
         <div class='name'>
           <h3>Your Pick:</h3>
           <small>Your friends will pick too</small>
         </div>
         <select name="mypick" class='game-pick' id="mypick" onchange="formatExpression()">
        </select>
      </li>
      <li class='row'>
         <div class='name'>
          <h3>Privacy:</h3>
        </div>
        <div class='option-1'>
          <!-- id should be 'privacy' -->
          <input onchange="formatExpression()" type="radio" id="radio-5" class="privacy-option"  name="privacy" value="true" checked />
          <label class='radio-5' for='radio-5'></label> <!-- public -->
          <h4>Public</h4>
          <small>Anyone can participate</small>
        </div>
        <div class='option-2'>
          <!-- id should be 'privacy' -->
          <input onchange="formatExpression()" type="radio" id="radio-6" class="privacy-option" name="privacy" value="false" />
          <label class='radio-6' for='radio-6'></label> <!-- public -->
          <h4>Private</h4>
          <small>Only invited users can participate</small>
        </div>
      </li>

      <li class='row'>
        <div class='name'>
          <h3>Your Stakes:</h3>
          <small>now it's getting serious</small>
        </div>
        <select class='stakes-drop' name="stakes" id="stakes">
          <option value="0">CREATE CUSTOM STAKES</option>
          <option value="0">Change your facebook status to praise the winning pick</option>
          <option value="0">Bragging rights for the next 2 weeks</option>
          <option value="0">Losers tweet about their loss</option>
          <option value="0">Change desktop wallpaper to a picture of the winning pick</option>
        </select>
      </li>
       <li class='row'>
         <a href="#" id="continue" class="btn-red continue-challenge">Continue</a>
       </li>
    </form>
   </ul>
  </div>
</div>

<script>
var CHALLENGE_ID = '0';
$(document).ready(function() {

  $('.game-pick-custom').css({ opacity: '.6' });

  $('.game-challenge-custom li').live('mouseup', function(){
    setChallenge($(this).data().val);
    challenge_set = true;
    var temp = $('.game-pick-custom').parent();
    $('.game-pick-custom').find('select').appendTo(temp);
    $('.game-pick-custom').remove();
    $('.game-pick').sweetSelect();
  })

  $('.game-select-custom li').live('mouseup', function(){
    // populate the pick box, remove and re-instantiate the custom drop
    var val = $(this).data().val;
    permitSelections(val);

  })

  $('h2#header').empty().append('Loading User...');
  fbConnect();
  permitSelections('0');
  setChallenge(CHALLENGE_ID);
  $('#continue').mousedown(function() { createChallenge(); });
});

function getStakes() {
  // Jeff: Adjust how you fetch the stakes here
  // Currently a simple text field.
  var input = $.trim($('#stakes').val());
  var stakes = (input.length) ? input : false;
  return(stakes);
}

/* Ajax */
function createChallenge() {
  var stakes = getStakes();
  var mypick = $('select#mypick option:selected').val();
  if (!stakes) {
    alert('Please set your stakes');
    return;
  }
  if (mypick == '0') {
    alert('Please select your pick.');
    return;
  }
  var request = {
    call:'api/challenges/game',
    dataMethod:'POST',
    data:{
      challenge:{
        template_id : $('select#challenge').val(),
        stakes : stakes,
        game_id : $('select#game_id').val(),
        my_pick: mypick,
        public: $('.privacy-option:checked').val(),
        featured : false,
        logo_url : 'http://profile.ak.fbcdn.net/hprofile-ak-snc4/186629_631190201_5468358_q.jpg'
      }
    },
    response:function(resp,args) {
      if (!resp.success)
        alert(resp.message);
      else
        document.location.href = '/challenges/'+resp.data.challenge.id;
    }
  }
  /* Verify Data, Facebook Connect */
  var mypick = $('select#mypick').val();
  if ((mypick == '0') || (CHALLENGE_ID == '0')) {
    alert('Please make your selection!');
    return;
  }
  if (USER.id != '0') {
    API(request);
  } else {
    REQUESTS = []
    REQUESTS.push(request); // Store for after FB Activation
    initConnect();
  }
}

function permitSelections(id) {
  if (id == '0') {
    $('select#challenge').val('0');
    $('select#mypick').val('0');
    $('select#challenge').attr('disabled',true);
    $('select#mypick').attr('disabled',true);
  }
  else {
    $('select#challenge').attr('disabled',false);
    $('select#mypick').attr('disabled',false);
  }
  setChallenge(CHALLENGE_ID);
}

function setChallenge(id) {
  CHALLENGE_ID = id;
  resetFields();
}

function resetFields() {
  if (CHALLENGE_ID == '0')
    $('select#mypick').empty().append('<option value="0">Please select a challenge.</option>');
  else
    $('select#mypick').empty();
  switch(CHALLENGE_ID) {
    case 'game_winner':
    case 'game_yards':
      var game = getGame($('select#game_id').val());
      $('select#mypick').append('<option value="'+game.home_team.id+'">The '+game.home_team.name+'</option>');
      $('select#mypick').append('<option value="'+game.away_team.id+'">The '+game.away_team.name+'</option>');
    break;

    default:
    $.each(getPicks(),function(i,pick){
      $('select#mypick').append('<option value="'+pick+'">'+pick+'</option>');
    })
  }
  formatExpression();
}

function getPicks() {
  var picks;
  switch(CHALLENGE_ID) {
    <% @challenges.each do |challenge| %>
    case '<%=challenge['template_id']%>':
      picks = <%=raw challenge['picks']%>
    break;
    <% end %>

    default:
      picks = []
  }
  return picks;
}

function formatTime(timestamp) {
  /* Not in use, but possibly useful for UI updates? */
  var d = new Date(timestamp);
  var hours = d.getHours();
  var minutes = d.getMinutes();
  var ext = 'p';
  if (hours < 11) {
    ext = 'a';
  }
  if (hours == 0) {
    hours = 12;
  }
  else if (hours > 12) {
    hours = hours-12;
  }
  if (minutes < 10)
    minutes = "0"+minutes;
  return(hours+':'+minutes+ext)
}

function getGame(game_id) {
  var resp = {};
  $.each(GAMES,function(i,obj){
    var game = obj.game;
    if (game.game_id == game_id) {
      resp = game;
      return false;
    }
  })
  return resp;
}

function formatExpression() {
  if (CHALLENGE_ID == '0') {
    $('div.mypickpreview').empty().append('Make your selections!');
    return;
  }
  var exp = CHALLENGE_TEMPLATES[CHALLENGE_ID];
  exp = exp.replace("{GAME}",'<strong>'+$('select#game_id option:selected').text()+'</strong>');
  exp = exp.replace("{PICKS}",'<strong>'+$('select#mypick option:selected').text()+'</strong>');
  $('div.mypickpreview').empty().append('"'+exp+'"');
}

var GAMES = [];
<% @games.each do |game| %>
  GAMES.push(<%=raw game.to_json %>);
<% end %>

var CHALLENGE_TEMPLATES = {
<% @challenges.each do |challenge| %>
  <%= challenge['template_id'] %> : '<%=raw challenge['template_expression'] %>',
<% end %>
}
</script>