<div id='wrapper'> 
  <div class='corners'> 
    <div class='hilight-box' id='challenges'> 
      <%= fb_avatar(@user.fb_number) %>
      <h1><%= @user.nickname %>'s Throwdowns</h1> 
    </div> 
  </div>
<div id='main'>
	
    <div class='box'>
	
      <ul class='challenges current'>
				<% @challenges.each do |challenge| %>
					<% if challenge.status == :active %>
					<li> 
	          <div class='col left'> 
	            <div class='heading'> 
	             <%= raw challenge['challenge_expression']%>
	            </div> 
	            <a href="http://apps.facebook.com/bloombergsports/challenges/<%=challenge['id']%>">http://apps.facebook.com/bloombergsports/challenges/<%=challenge['id']%></a> 
	          </div> 
	          <div class='col right'> 
	            <div class='time'><%= days_left(challenge.closes_at) %></div> 
	          </div> 
	          <div class='clearfix'></div> 
	        </li>
					<% end %>
		    <% end %>
				<% if @challenges.empty? %>
					<li class='no-challenges'>You aren't participating in any challenges... </li>
				<% end %>
      </ul>
 			
			<% if @past_challenges %>
			<ul class='challenges previous'>
			<% @challenges.each do |challenge| %>
		     <% unless challenge.status == :active %>
					<li>
						<% if challenge.challenge_responses[0]['status'] == 'won' %>
	          <div class='col left success'>
						<% else %>
						<div class='col left'>
						<% end %>
	            <div class='heading'> 
	              <%= raw challenge['challenge_expression']%>
	            </div> 
	            <a href="http://apps.facebook.com/bloombergsports/challenges/<%=challenge['id']%>">http://apps.facebook.com/bloombergsports/challenges/<%=challenge['id']%></a> 
	          </div> 
	          <div class='col right'> 
	            <div class='time'>Ended on <%= format_time(challenge.closes_at) %></div> 
	          </div> 
	          <div class='clearfix'></div> 
	        </li>
				<% end %>
	    <% end %>
			</ul>
			<% end %>
    </div> 
  </div> 
</div>

<script>
var CHALLENGE_ID = '0';
$(document).ready(function() { 
  $('h2#header').empty().append('Loading User...');
  fbConnect();
});
</script>